.container {
  flex-direction: column;
  height: 100dvh;
}

.container:nth-child(-1) {
  margin-top: 20px;
}

.title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
}

.latex {
  margin-top: 3rem;
}
