@import "tailwindcss";
@import "tw-animate-css";
@font-face {
  font-family: LaTeX-variant;
  src: url("/fonts/LibertinusSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

body {
  background: #121212;
  color: #e0e0e0;
}

/* Utility classes */
.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.container--narrow {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.container--wide {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.full-width {
  width: 100%;
  background-color: red; /* or whatever color */
  padding-block: 4rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .container--narrow {
    max-width: 540px;
  }

  .container--wide {
    max-width: 800px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .container--narrow {
    max-width: 720px;
  }

  .container--wide {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }

  .container--narrow {
    max-width: 880px;
  }

  .container--wide {
    max-width: 1440px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
