@import "tailwindcss";
@import "tw-animate-css";
@font-face {
  font-family: LaTeX-variant;
  src: url("/fonts/LibertinusSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

:root {
  --base-font-size: 18px;
}

body {
  background: #121212;
  color: #e0e0e0;
}

body,
p,
span,
div {
  font-size: inherit;
}

.root {
  display: flex;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

/* Utility classes */
.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.container--sidebar {
  margin-left: clamp(250px, 15vw, 300px);

  /* width: clamp(600px, 70vw, 1200px);

  margin-left: clamp(250px, 15vw, 300px);

  margin-right: clamp(50px, 5vw, 100px); */
}

.container-sm {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.container-lg {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.container-full {
  width: 100%;
  background-color: red; /* or whatever color */
  padding-block: 4rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .container-sm {
    max-width: 540px;
  }

  .container-lg {
    max-width: 800px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .container-sm {
    max-width: 720px;
  }

  .container-lg {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }

  .container-sm {
    max-width: 880px;
  }

  .container-lg {
    max-width: 1440px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
